<div class="container">
  <h2>Attribute Directives - ngClass</h2>
  <div class="row">
    <div class="col-md-12">
      <p
        [ngClass]="{
          red: highlightColor === 'red',
          'blue-color': highlightColor == 'blue',
          green: highlightColor === 'green'
        }"
      >
        Click any button to see the color
      </p>
    </div>
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="highlight('red')">Red</button>
      <button class="btn btn-success" (click)="highlight('green')">
        Green
      </button>
      <button class="btn btn-primary" (click)="highlight('blue')">Blue</button>
    </div>
  </div>
</div>
