div {
  background-color: rgb(17, 49, 17);
  font-family: "Times New Roman", Times, serif;
  height: 50px;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  font-size: 30px;
  bottom: 0px;
  color: aliceblue;
  position: absolute;
  width: 100%;
}
