div {
  display: flex;
  right: 0;
  font-family: "Times New Roman", Times, serif;
  height: 50px;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  font-size: 30px;
  height: 54vh;
  float: right;
  width: calc(100% - 610px);
  padding-top: 250px;
  padding-left: 50x;
}
h2 {
  margin-left: 500px;
}
